<!-- Header Start -->
<div class="row" style="background-color:#3182ab;">
  <div class="col-sm-12">
      <div class="row">
          <div class="col-sm-2">
              <a routerLink="home">
                  <img src="assets/Images/BMWLogo.png" alt="Logo" style="width: 120px;padding: 10px;" />
              </a>                        
          </div>
          <div class="col-sm-10">
              <div class="row" style="margin-top: 65px;text-align: center;">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2"><a style="color: whitesmoke;font-size: 25px;font-weight: bold;text-decoration: none;" routerLink="home">Home</a></div>
                  <div class="col-sm-3"><a style="color: whitesmoke;font-size: 25px;font-weight: bold;text-decoration: none;" routerLink="create">Create New Employee</a></div>
                  <div class="col-sm-7"></div>
              </div>              
          </div>
       </div>
  </div>
</div>
<!-- Header Close -->

<!-- Content Start -->
<div class="row">
  <div class="col-sm-12">
      <router-outlet></router-outlet>
  </div>
</div>
<!-- Content Close -->

<!-- Footer Start -->
<div class="row" style="background-color:#3182ab;text-align: center;">
  <div class="col-sm-12">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
              <span style="color: white;">Copyright BMW "https://www.bmw.com"</span>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1">
              <a href="https://www.facebook.com">
                  <img src="assets/Images/fb.png" />
              </a>                        
          </div>
          <div class="col-sm-1">
              <a href="https://www.instagram.com">
                  <img src="assets/Images/in.png" />
              </a>                        
          </div>
          <div class="col-sm-1">
              <a href="https://www.twitter.com">
                  <img src="assets/Images/tw.png" />
              </a>                        
          </div>
          <div class="col-sm-1"></div>
      </div>
  </div>
</div>
<!-- Footer Close -->
