<div class="row" style="padding:10px;">
    <div class="col-sm-12">
        <div style="background-color: white;">                   
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Employee Id<img src="assets/Images/id.png"/></span></div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="Emp.empId" disabled="disabled" id="txtEmpId" class="form-control" placeholder="Please enter employee id...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Name</span></div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="Emp.ename" disabled="disabled" id="txtEname" class="form-control" placeholder="Please enter name...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Password</span><img src="assets/Images/Password.png" /></div>
                <div class="col-sm-3">
                    <input type="password" [(ngModel)]="Emp.password" disabled="disabled" id="txtPassword" class="form-control" placeholder="Please enter password...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Gender</span></div>
                <div class="col-sm-3">
                    <input type="radio" [(ngModel)]="Emp.gender" disabled="disabled" id="rbtnMale" name="Gender" value="Male"/> Male
                    <input type="radio" [(ngModel)]="Emp.gender" disabled="disabled" id="rbtnFemale" name="Gender" value="Female"/> Female
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Phone</span></div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="Emp.phone" disabled="disabled" id="txtPhone" class="form-control" placeholder="Please enter phone no...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Email</span></div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="Emp.email" disabled="disabled" id="txtEmail" class="form-control" placeholder="Please enter email address...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Salary</span></div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="Emp.salary" disabled="disabled" id="txtSalary" class="form-control" placeholder="Please enter salary...!"/>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Address</span></div>
                <div class="col-sm-3">
                    <textarea id="txtAddress" [(ngModel)]="Emp.address" disabled="disabled" rows="5" class="form-control" placeholder="Please enter Address...!"></textarea>
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><span style="font-weight: bold;">Department</span></div>
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="Emp.deptNo" disabled="disabled">
                       <option value="0">-Select Department-</option>
                       <option *ngFor="let dept of DeptList" value="{{dept.deptNo}}">{{dept.dname}}</option>
                    </select>                
                </div>
                <div class="col-sm-3"></div>            
            </div>
            <div class="row" style="margin-bottom: 10px;text-align: center;">
                <div class="col-sm-12">
                    <button (click)="btn_Delete()" class="btn btn-success">Do you really want to delete? <img src="assets/Images/Register.png" /></button> | 
                    <button (click)="btn_Cancel()" class="btn btn-danger">Cancel <img src="assets/Images/Cancel.png" /></button> 
                </div>                       
            </div>
        </div>
    </div>
 </div>